.row {
    display: flex;
}

.item-item {
    padding-right: 15px !important;
}

/* The sticky */
#sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 15px;
}

/* Success page */
.container-success {
    text-align: center;
    padding: 0 0;
    background: #EBF0F5;
}

.i-container {
    border-radius:200px;
    height:200px;
    width:200px;
    background: #F8FAF5;
    margin:0 auto
}

#checkmark {
    color: #8ac72e;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
}

.card p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size:20px;
    margin: 0;
    margin-bottom: 40px;
}

.card h1 {
    color: #8ac72e;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

/* Add toppings. */
#topping {
    height: 2.3em;
}