{% extends "orders/base.html" %}

{% load cart_template_tags %}

{% block title %}Index{% endblock %}

{% block side %}
    <a href="{% url 'order-summary' %}">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
        
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ request.user|cart_item_count }}</span>   
        </h4>
    </a>
{% endblock %}

{% block toppings %}
    <!-- Toppings. -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Toppings</th>
                </tr>
            </thead>
            <tbody>
            {% for item in toppings %}
                <tr>
                    <td><span class="item-item item-title">{{ item.title }}</span></td>                   
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
{% endblock %}

{% block main %}
    <!-- Regular Pizzas. -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Regular Pizzas</th>
                    <th scope="col">Large</th>
                    <th scope="col">Small</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in regular_pizzas %}
                <tr>
                    <td><span class="item-item item-title">{{ item.title }}</span></td>
                    <td>
                        <span class="item-item item-price">{{ item.price }}</span>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    </td>
                    <td>
                    {% if item.price_small %}
                        <span class="item-item item-price">{{ item.price_small }}</span>
                        <a href="{{ item.get_add_small_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    {% endif %}
                    </td>
                    <td><a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Remove
                    </a></td>
                </tr>
            {% endfor %}
             </tbody>
        </table>
      </div>
      
    <!-- Sicilian Pizzas. -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sicilian Pizzas</th>
                    <th scope="col">Large</th>
                    <th scope="col">Small</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in sicilian_pizzas %}
                <tr>
                    <td><span class="item-item item-title">{{ item.title }}</span></td>
                    <td>
                        <span class="item-item item-price">{{ item.price }}</span>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    </td>
                    <td>
                    {% if item.price_small %}
                        <span class="item-item item-price">{{ item.price_small }}</span>
                        <a href="{{ item.get_add_small_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    {% endif %}
                    </td>
                    <td><a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Remove
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Subs. -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Subs</th>
                    <th scope="col">Large</th>
                    <th scope="col">Small</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in subs %}
                <tr>
                    <td><span class="item-item item-title">{{ item.title }}</span></td>
                    <td>
                        <span class="item-item item-price">{{ item.price }}</span>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    </td>
                    <td>
                    {% if item.price_small %}
                        <span class="item-item item-price">{{ item.price_small }}</span>
                        <a href="{{ item.get_add_small_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    {% endif %}
                    </td>
                    <td><a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Remove
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>

    <!-- Pastas. -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Pastas</th>
                    <th scope="col">Large</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in pastas %}
                <tr>
                    <td><span class="item-item item-title">{{ item.title }}</span></td>
                    <td>
                        <span class="item-item item-price">{{ item.price }}</span>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    </td>
                    <td><a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Remove
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    
    <!-- Salads. -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Salads</th>
                    <th scope="col">Large</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in salads %}
                <tr>
                    <td><span class="item-item item-title">{{ item.title }}</span></td>
                    <td>
                        <span class="item-item item-price">{{ item.price }}</span>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    </td>
                    <td><a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Remove
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>

    <!-- Dinner Platters. -->
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Dinner Platters</th>
                    <th scope="col">Large</th>
                    <th scope="col">Small</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in dinner_platters %}
                <tr>
                    <td><span class="item-item item-title">{{ item.title }}</span></td>
                    <td>
                        <span class="item-item item-price">{{ item.price }}</span>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    </td>
                    <td>
                    {% if item.price_small %}
                        <span class="item-item item-price">{{ item.price_small }}</span>
                        <a href="{{ item.get_add_small_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                            Add
                        </a>
                    {% endif %}
                    </td>
                    <td><a href="{{ item.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                        Remove
                    </a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>

{% endblock %}